.articles-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  max-width: 900px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  margin-right: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.add-article-button {
  padding: 10px 15px;
  background-color: #4b4dcd;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-article-button:hover {
  background-color: #0c339e;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.article-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article-card:hover {
  transform: scale(1.05);
}

.article-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.article-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.article-card p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
  margin: 10px 0;
  word-wrap: break-word; /* منع تجاوز النص لحدود الكارد */
  text-align: justify; /* تنسيق النص بحيث يظهر بشكل منظم */
  max-height: 100px; /* ضبط ارتفاع النص */
  overflow: hidden; /* إخفاء النص الزائد */
  text-overflow: ellipsis; /* إضافة ... في حال النص طويل جدًا */
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #4b4dcd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #0c339e;
}